* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f5f8ff;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 8px;
}

#search-container {
    margin: 1em 0;
}

#search-container input{
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}

#search-container input:focus {
    border-bottom-color: #902727;
}

#search-container button{
    padding: 1em 2em;
    margin-left: 1em;
    background-color: #902727;
    color: #ffff;
    border-radius: 5px;
    margin-top: 0.5em;
}

.button-value{
   border: 2px solid #902727;
    padding: 0.6em 1.5em;
    border-radius: 3em;
    background-color: transparent;
    color: #902727;
    cursor: pointer;
    margin: 0.5em 0.3em;
    white-space: nowrap;
    text-align: center;
}
.button-value:hover {
    background-color: #902727;
    color: #ffff;
}

.button-value.active {
    background-color: #902727;
    color: #ffff;
}

.button-value:not(.active):hover {
    background-color: #902727;
    color: #ffff;
}

.active{
    background-color: #902727;
    color: #ffff;
}


/* Media Queries */
@media (max-width: 768px) {
    #search-container input {
        width: 100%;
        margin-bottom: 0.5em;
    }

    #search-container button {
        width: 100%;
    }

    .button-value {
        width: 100%;
        padding: 0.8em 0;
    }
}